%table
  %tr
    %th
      Statement
    %td
      ~ my_pre my_synopsis(@query_result.statement), :class => :sql_statement
  %tr
    %th
      Time
    %td
      = h @query_result.started_on
      for
      = h my_secs(@query_result.elapsed_time)
  %tr
    %th
      EXPLAIN
    %td
      = my_pre @query_result.explanation
  - if @query_result.error
    %tr
      %th
        Error
      %td
        ~ my_pre @query_result.error, :class => :error
    %tr
      %th
        Backtrace
      %td
        ~ my_pre @query_result.backtrace, :class => :backtrace
  - else
    %tr
      %th
        File
      %td
        - if File.exist?(@query_result.filename)
          = "<a href=\"#{h @query_result.uri}\" type=\"#{h @query_result.file_mime_type}\">#{h File.basename(@query_result.uri)}</a>".html_safe
        - else
          %strong
            = h "N/A"
        = h "(#{@query_result.number_of_bytes rescue nil} bytes)"
        = h "(#{@query_result.number_of_rows rescue nil} lines)"
        = h "(#{@query_result.size rescue nil} rows)"
        = h "(#{@query_result.columns.size rescue nil} columns)"
    %tr
      %th
        Rows
      %td
        %table{:id => "query_result_#{@query_result.id}", :class => "query_result sortable"}
          %thead.query_result
            %tr
              %th.query_result_row
                = h 'ROW:'
              - for column in @query_result.columns
                %th.query_result_column
                  = h column.name
            %tr
              %th.query_result_type
                = h ''
              - for column in @query_result.columns
                %th.query_result_type
                  = h column.type.name
            %tr
              %th.query_result_type
                = h ''
              - for column in @query_result.columns
                %th.query_result_sep
          %tbody.query_result
            - for i in 0 ... @query_result.size
              %tr.query_result_data
                %td{:class => "query_result_row Integer"}
                  = "#{i + 1}"
                - r = @query_result[i]; for column in @query_result.columns
                  %td{:class => "query_result_data #{column.type.name}"}
                    = h r[column.name]

        %hr
          %center
            %i
              END OF RESULT
        %hr
