%h1 Users (New)

= error_messages_for :user

= form_for(@user, :action => url(:users) ) do
  %table
    %tr
      %td 
        Login
      %td
        = text_field :login
    %tr
      %td
        Password
      %td
        = password_field :password
    %tr
      %td
        Password Again
      %td
        = password_field :password_confirmation
  %p
    = submit "Create"

= link_to 'Back', url(:users)
