%div
  %table
    %tr
      %th
        Name
      %th
        User
      %th
        = '# Runs'
      %th
        = link_to 'New', './new'
    - for query in queries
      %tr
        %td
          = link_to query.name, query
        %td.center
          = link_to query.created_by.login, query.created_by
        %td.integer
          = h query.query_executions_count
        %td
          - if controller.current_user_can_edit? query
            = link_to 'Edit', query


