%h1
  Edit Query
  = h @query.name.inspect

= link_to 'Show', @query
|
= link_to 'Back', '../..'

= error_messages_for :query

= form_for(@query, :action => "#{@query.id}/update") do
  %table
    %tr
      %th 
        Name
      %td
        = text_field :query, :name
    %tr
      %th 
        Description
      %td><
        = my_text_area @query, :query, :description
    %tr
      %th 
        Query
      %td><
        = my_text_area @query, :query, :code, :cols => 80, :rows => [ @query.query_lines.size, 32 ].min
    %tr
      %th 
        Sensitive?
      %td
        Query?
        = check_box :query, :query_is_sensitive
        Result?
        = check_box :query, :result_is_sensitive
 
  %p
    = submit_tag "Update"
    = submit_tag "Update and Execute"

%hr

- if @query_execution = @query.query_executions.last 
  %h2
    Most recent execution of 
    = @query.query_executions_count
    executions.
  = render :partial => 'quebee/query_executions/show'
  %hr
 
