%h1 Queries: new

= error_messages_for :query

= form_for(@query, :action => :create) do
  %table
    %tr
      %th 
        Name
      %td
        = text_field :query, :name
    %tr
      %th 
        Description
      %td
        = my_text_area @query, :query, :description, :cols => 80, :rows => 4
    %tr
      %th 
        Code
      %td
        = my_text_area @query, :query, :code, :cols => 80, :rows => 30
    %tr
      %th 
        Query is sensitive?
      %td
        = check_box :query, :query_is_sensitive
    %tr
      %th 
        Result is sensitive?
      %td
        = check_box :query, :result_is_sensitive
  %p
    = submit_tag "Create"
    = submit_tag "Create and Execute"

= link_to 'Back', :action => :index
