%h1
  Query
  = h @query.name.inspect

= link_to 'Edit', "#{@query.id}/edit"
|
= link_to 'Back', '..'

%table
  %tr
    %th
      Name
    %td
      = h @query.name
      ~ my_pre @query.description
  %tr
    %th
      Created By  
    %td
      = link_to @query.created_by.login, @query.created_by
      = h @query.created_on
  %tr
    %th
      Query
    %td><
      ~ my_pre @query.code, :class => :sql_statement

  %tr
    %th
      Sensitive
    %td.left
      = @query.query_is_sensitive  ? x = "Query " : ''
      = @query.result_is_sensitive ? x = "Result " : ''
      = x ? '' : '<i>Not Sensitive</i>'.html_safe

  %tr
    %th 
    %td
      = link_to 'Execute', "#{@query.id}/execute"

%h2
  Executions
= render :partial => 'quebee/query_executions/list', :locals => { :query_executions => @query.query_executions, :show_query => false }

