%h1.header
  %a{:href=>"/"}
    = @page_title
%hr.top_menu
%div.top_menu
  = link_to 'Home', '/'
  |
  = link_to 'Queries', '/quebee/queries'
  |
  = link_to 'Executions', '/quebee/query_executions'
  |
  = link_to 'Users', '/quebee/users'
  |
  - if controller.authenticated_user
    Hello, 
    = link_to controller.authenticated_user.login, "/quebee/users/#{session.user.id}"
    = link_to '(logout)', '/auth/session/logout'
  - else
    = link_to 'Login', '/auth/session/login'
%hr.top_menu


