%h1
  Query Execution
  = h @query_execution.query.name.inspect
  = h "# #{@query_execution.query_executions_index}"

%p
  = link_to 'Back', url(:query_executions)

- @show_query = true
= partial 'query_executions/show'

