%h1
  Query Execution
  = h @query_execution.query # .name.inspect
  = h "# #{@query_execution.query_executions_index}"

%p
  = link_to 'Back', '..'

- @show_query = true
= render :partial => 'show'

