%h1
  QueryResults controller, edit action
%p
  Edit this file in
  %tt
    app/views/query_results/edit.html.erb
= error_messages_for :query_result

= form_for(@query_result, :action => url(:query_result, @query_result)) do
  %p
    = submit "Update"

= link_to 'Show', url(:query_result, @query_result)
|
= link_to 'Back', url(:query_results)